<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name="com.coopbank.androidtencentnfi.MainActivity"
            android:theme="@style/AppTheme.LightNoActionBar"
            android:configChanges="locale|keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="sensor"
            android:windowSoftInputMode="adjustResize"
            android:exported="true" />
    </application>
</manifest>